<div class="container">
    <div class="row">
        <div class="col-sm-12 pad10 backgroundCss" >
            <!-- <div class="pageHeader">
                <div class="pageImage">
                    <img src="../../assets/projects.png">
                </div>
                <h1>
                    Our environmental projects are providing many environmental benefits around the world
                </h1>
            </div> -->
            <div class="col-md-4 col-xs-12 d-flex-center">
                <img src="../../assets/projects.png">
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="row">
                <h1>
                    Our environmental projects are providing many environmental benefits around the world
                </h1>
                </div>
            </div>
        </div>
    </div>
 </div>