.pad-lr-10{
    padding: 0 10px;
}
.backgroundCss{
    display: inline-block;
    background-color: #c2f5aa;
    border-radius: 8px;
    margin: 0 0 20px;
}
h1{
    text-align: center;
    font-size: 27px;
    padding: 70px 0 40px 0;
    margin: 0;
    line-height: 42px;
}
.d-flex-center{
    display: flex;
    justify-content: center;
}